body{
  font-family: 'Space Mono', monospace;
  background-color: var(--Light-grayish-cyan);
  overflow-y: hidden;
  box-sizing: content-box;
}

:root{
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Strong-cyan: hsl(172, 67%, 45%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
}

.input{
  background-color: var(--Very-light-grayish-cyan) !important;
}

.container-2{
  background-color:var(--Very-dark-cyan);
  color: var(--Strong-cyan);
}


.texto-cyan{
  color: var(--Strong-cyan);
}

.tip{
  background-color: var(--Very-dark-cyan);
  color: white;
  transition-duration: 500ms;
}

.bill{
  background-image: url(../src/img/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 14px center ;
  background-size: 3%;
  text-align: right;
}

.person{
  background-image: url(../src/img/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 14px center ;
  background-size: 4%;
  text-align: right;
}

.tip:active{
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);


}
.tip:focus{
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);


}
.tip:hover{
  background-color: var(--Strong-cyan);
  color: var(--Very-dark-cyan);


}

.reset{ 
  background-color:  var(--Strong-cyan);
color: var(--Very-dark-cyan);
transition-duration: 500ms;
}

.reset:hover{ 
  background-color: white;
  color: var(--Strong-cyan);
}
.reset:focus{ 
  background-color: white;
  color: var(--Strong-cyan);
}

.titulo{
  color: var(--Very-dark-cyan);
}


@media (max-width: 750px) {

  body{ 
    overflow-y: visible;
  }
 
.contenedor-principal{

  flex-direction: column;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
 
}
.titulo{
  margin-top: 1rem;
  margin-bottom: 1rem ;
}
.container-1, .container-2 {
  width: 90%;
 
  
}
.container-1{
margin: auto ;
padding-top: 20px;

}

} 

@media (max-width: 400px) {

html{
  font-size: 14px;
}



}